<div class="container" [class.overlay]="backend.isLoading">
  <div class="pre-condition">
    <form [formGroup]="formGroup">
      <fieldset>
        <label for="tableName">
          Tên bảng
        </label>
        <ng-container *ngIf="(gtables$ | async) as gtables">
          <select id="tableName">
            <option *ngFor="let gtable of gtables">{{ gtable.tableName }}</option>
          </select>
        </ng-container>
      </fieldset>
      <fieldset>
        <label for="file">
          Nhập file
        </label>
        <input id="file" type="file" (change)="onFileChange($event)">
      </fieldset>
    </form>
  </div>
  <hr>
  <div class="submit-area">
    <button class="submit" (click)="onSubmit($event)">Gửi file</button>
  </div>
</div>









