<div class="container">
  <div class="pre-condition">
    <fieldset>
      <label for="tableName">
        Tên bảng
      </label>
      <select id="tableName">
        <option>Customers</option>
        <option>Staffs</option>
        <option>Employees</option>
      </select>
    </fieldset>
    <fieldset>
      <label for="file">
        Nhập file
      </label>
      <input id="file" type="file">
    </fieldset>
  </div>
  <hr>
  <div class="submit-area">
    <button class="submit">Gửi file</button>
  </div>
</div>










